@import "tailwindcss";

:root {
  --primary-green: #0F7A4F;
  --dark-green: #065F46;
  --gold: #C9A227;
  --ivory: #FAF7F0;
  --text-dark: #1F2937;

  --zawiya-green: #166534;
  --zawiya-dark-green: #14532d;
  --zawiya-gold: #d4af37;
  --zawiya-light: #f0fdf4;
}


html {
  scroll-behavior: smooth;
}


body {
  background: var(--ivory);
  color: var(--text-dark);
}


/* Form Input Style */

.input {
  @apply w-full border rounded-xl px-4 py-3;
}